name: Advent Archives - Code Linting

on:
  push:
    branches:
      - advent-archives

jobs:
  flake8:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./aoc

    strategy:
      matrix:
        python-version:
          - '3.12'

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run flake8
        run: make flake8

  pylint:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./aoc

    strategy:
      matrix:
        python-version:
          - '3.12'

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pylint
        run: make pylint
